<%- include('../partials/header') %>

<h1>404 - Not Found</h1>
<p>The page you're looking for doesn't exist.</p>
<p>Route: <code><%= originalUrl %></code></p>

<div class="info">
  <p>Return to <a href="/">home page</a></p>
</div>

<%- include('../partials/footer') %>